@model IEnumerable<AircraftReservationSystem.Models.Airport>

@{
    ViewData["Title"] = "View";
}


<div class="container p-3">
    @if (TempData["DeleteSuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["DeleteSuccessMessage"]
        </div>
    }
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Airport List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Airport" asp-action="AddAirport" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Add New Airport
            </a>
        </div>
    </div>

    <br /><br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AirportCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.District)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DistrictId)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="Airport" asp-action="EditAirport" asp-route-id="@item.Id"
                           class="btn btn-primary"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-danger" data-item-id="@item.Id"> <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the item with the name '@item.Name'?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Give up</button>
                                <a asp-controller="Airport" asp-action="DeleteConfirmed" asp-route-id="@item.Id" class="btn btn-danger" id="confirmDelete">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>

    </table>
</div>
@section scripts {
    <script src="~/js/AirportList.js"></script>
}
