
@model List<AircraftReservationSystem.Models.ViewModels.ApplicationUserViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <h1>User Management</h1>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">User List</h2>
		</div>

        <div class="col-6 text-end">
            <a asp-controller="User" asp-action="AddUser" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Add New User
            </a>
        </div>
	</div>
    <br /><br />

<table class="table table-bordered table-striped" width="80%">
    <thead>
        <tr>
            <th width="10%">
                Passenger Name
			</th>
            <th width="20%">
                Passenger Surname
			</th >
            <th width ="20%">
                Passenger Email
            </th>
            <th width="20%">
                Role
            </th>
            <th width="15%"></th>
		</tr>
	</thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.Firstname
				</td>
                <td>
                    @obj.Lastname
				</td>
                <td>
                    @obj.Email
                </td>
                    <td>
                        @obj.Role
                    </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-danger" data-item-id="@obj.Id"> <i class="bi bi-trash-fill"></i> Delete</a>
					</div>
				</td>
			</tr>
                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the item with the name '@obj.Email'?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Give up</button>
                                <a asp-controller="User" asp-action="DeleteConfirmed" asp-route-id="@obj.Id" class="btn btn-danger" id="confirmDelete">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
        }

    </tbody>

</table>
</div>

@section scripts {
    <script src="~/js/DeleteModal.js"></script>
}